/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* End Reset - My Code */

@font-face {
	src: url(fonts/tahu.ttf);
	font-family: tahu;}
@font-face {
	src: url(fonts/Oranienbaum.ttf);
	font-family: oran; }
@font-face {
	src: url(fonts/Voga-Medium.otf);
	font-family: voga;
}
/* Font Types */

.logo {
	height: 75px;
	width: auto;
}
a {
	text-decoration: none;
	text-decoration-style: none;
	color: inherit;
}
a:hover {
	color: #f8c8a4;
}

header {
	display: inline-block;
	text-align: center;
 	background-color: #fff;
 	font-family: oran;
 	font-size: 30px;
 	color: #4f919a;
 	padding:10px;
 	width: 100%;
}

.heading {
	color: #f8c8a4;
	text-shadow: 2px;
	text-decoration: underline;
}

.jmport {
  text-align: right;
  color: #fff;
  font-family:oran;
  font-size: 40px;
  margin-right: 70px;
}

ul li {
 	display: block;
 	padding-left: 20px;
}

nav a {
  margin: 40px
}

body {
	font-family: oran;
	background-color: #75cbd6;
	color: #000;
}

main {
  width: 80vw;
  margin: auto;
  padding: 30px 20px;
  min-height: calc(100vh - 105px - 98px);
}
article {
  background-color: #f8c8a4;
  padding:40px;
  margin-bottom: 10px;
  border-radius:10px;
}
article h2 {
  margin: 10px 0 15px 0;
  font-size: 30px;
}
article h3 {
  margin: 10px 0 25px 0;
  font-size: 20px;
}
 article p {
  margin-top: ;
  line-height: 24px;
}

footer {
  text-align: center;
}

.icon_bottom {
 	display: inline-block;
    width: 35px;
    height: auto;
 }

 .camera {
 	height: 420px;
 	width: auto;
  float:right;
  margin: 10px;
 }

 .portrait {
  height: 400px;
  width: auto;
  float:left;
  margin:10px;

 }

 .review {
 	font-size: 150px;
 	line-height: 150px;
 	text-align: left;
 	color: #fff;
 	font-family: tahu;
 	padding: 20px;
 	margin-top:50px;
}
 .review1 {
 	animation-name: reviewone;
  	animation-duration: 3s;
  	animation-direction: reverse;
 }

 .review2 {
 	text-align: right;
 	animation-name: reviewtwo;
  	animation-duration: 3s;
  	animation-direction: reverse;
    animation-delay: 3s;
}

.review3 {
 	animation-name: reviewthree;
  	animation-duration: 3s;
  	animation-direction: reverse;
    animation-delay: 6s;
}


@keyframes reviewone {
  from {color: #75cbd6;}
  to {color: white;}
}
@keyframes reviewtwo {
  from {color: #75cbd6;}
  to {color: white;}
}
@keyframes reviewthree {
  from {color: #75cbd6;}
  to {color: white;}
  }